@model IEnumerable<ComplainManagement.MVC.Models.ComplainAndSolution>

@{
    ViewData["Title"] = "Index";
}

<h1>Resolved Complain Report</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplainNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainType.ComplainTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>

        </tr>
}
    </tbody>
</table>
