@model ComplainManagement.MVC.Models.ComplainAndSolution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComplainAndSolution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainType.ComplainTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComplainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
