@model IEnumerable<ComplainManagement.MVC.Models.ComplainAndSolution>

@{
    ViewData["Title"] = "Index";
}

<h1>Complain List</h1>
<div>
    <div class="form-group row">

        <label class="control-label">Complain Type</label>
        <select id="ComplainFilter" class="form-control" asp-items="ViewBag.ComplainTypeId"></select>
        <a class="btn btn-info" id="btnFilter">Show</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplainNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionDate)
            </th>



            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainType.ComplainTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionDate)
            </td>


            <td>
                <a asp-controller="SolutionEntry" asp-action="Edit" asp-route-id="@item.ComplainId">View</a>
                @*<a asp-action="Details" asp-route-id="@item.ComplainId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ComplainId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
